USE [master]
GO
/****** Object:  Database [QuanLyThuVienHVKTQS]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE DATABASE [QuanLyThuVienHVKTQS]
GO
USE [QuanLyThuVienHVKTQS]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[Kho](
	[tenkho] [nvarchar](200) NOT NULL,
	[vitri] [nvarchar](200) NOT NULL,
 CONSTRAINT [pk_kho] PRIMARY KEY CLUSTERED 
(
	[tenkho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[LoaiSach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loaisach] [nvarchar](256) NULL,
	[idKho] [nvarchar](200) NULL,
	[soluong] [int] NULL,
 CONSTRAINT [pk_loaisach] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MuonTra]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[MuonTra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngaymuon] [datetime] NULL,
	[hanmuon] [datetime] NULL,
	[ngaytra] [datetime] NULL,
	[idnhansu] [int] NULL,
	[idthethuvien] [int] NULL,
 CONSTRAINT [pk_muontra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanSu]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[NhanSu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](200) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[anhdaidien] [varchar](max) NULL,
	[gioitinh] [nvarchar](3) NULL,
	[taikhoan] [varchar](200) NULL,
	[matkhau] [varchar](200) NULL,
	[quanly] [int] NULL,
 CONSTRAINT [pk_nhansu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[Sach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tensach] [nvarchar](200) NOT NULL,
	[idloaisach] [int] NULL,
	[noibo] [int] NULL,
	[masach] [varchar](12) NULL,
	[tacgia] [nvarchar](100) NULL,
	[gioithieu] [nvarchar](max) NULL,
	[trangthai] [nvarchar](12) NULL,
 CONSTRAINT [pk_sach] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 23-Apr-17 3:40:04 PM ******/
CREATE TABLE [dbo].[TheThuVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](200) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[anhdaidien] [varchar](max) NULL,
	[gioitinh] [nvarchar](3) NULL,
	[loaithe] [int] NULL,
 CONSTRAINT [pk_thethuvien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Kho] ([tenkho], [vitri]) VALUES (N'Kho 1', N'Nhà H2 tầng 1 phòng 1')
INSERT [dbo].[Kho] ([tenkho], [vitri]) VALUES (N'Kho 2', N'Nhà H2 Tầng 1 phòng 3')
INSERT [dbo].[Kho] ([tenkho], [vitri]) VALUES (N'Kho 3', N'Nhà H2 tầng 2 phòng 2')
SET IDENTITY_INSERT [dbo].[LoaiSach] ON 

INSERT [dbo].[LoaiSach] ([id], [loaisach], [idKho], [soluong]) VALUES (1, N'Công nghệ thông tin', NULL, 1000)
INSERT [dbo].[LoaiSach] ([id], [loaisach], [idKho], [soluong]) VALUES (2, N'Công nghệ hóa học', NULL, 500)
INSERT [dbo].[LoaiSach] ([id], [loaisach], [idKho], [soluong]) VALUES (3, N'Điện tử', NULL, 500)
SET IDENTITY_INSERT [dbo].[LoaiSach] OFF
SET IDENTITY_INSERT [dbo].[NhanSu] ON 

INSERT [dbo].[NhanSu] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [taikhoan], [matkhau], [quanly]) VALUES (2, N'Vũ Hùng Cường', CAST(N'1996-11-11 00:00:00.000' AS DateTime), N'HungCuong.jpg', N'Nam', N'hungcuong', N'123456', 1)
INSERT [dbo].[NhanSu] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [taikhoan], [matkhau], [quanly]) VALUES (3, N'Vũ Lê Minh', CAST(N'1996-10-20 00:00:00.000' AS DateTime), N'LeMinh.jpg', N'Nam', N'leminh', N'123456', 1)
INSERT [dbo].[NhanSu] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [taikhoan], [matkhau], [quanly]) VALUES (4, N'Mai Tuấn Anh', CAST(N'1995-10-10 00:00:00.000' AS DateTime), N'AnhTuan.jpg', N'Nam', N'tuananh', N'123456', 0)
SET IDENTITY_INSERT [dbo].[NhanSu] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([id], [tensach], [idloaisach], [noibo], [masach], [tacgia], [gioithieu], [trangthai]) VALUES (1, N'Mạng viễn thông', 1, 0, N'1315001', N'Nguyễn Tùng', NULL, N'Mới')
INSERT [dbo].[Sach] ([id], [tensach], [idloaisach], [noibo], [masach], [tacgia], [gioithieu], [trangthai]) VALUES (2, N'Phân tích thiết kế và giải thuật', 2, 1, N'1315002', N'Mạnh Quốc', N'Đệ quy, quy hoạch động, tìm kiếm, sắp xếp ... và nhiều thuật toán khác. Tìm hiểu thêm về trí thông minh nhân tạo', N'Mới')
INSERT [dbo].[Sach] ([id], [tensach], [idloaisach], [noibo], [masach], [tacgia], [gioithieu], [trangthai]) VALUES (3, N'Lập trình Java', 3, 0, N'1315003', N'Sơn Ca', NULL, N'Mới')
SET IDENTITY_INSERT [dbo].[Sach] OFF
SET IDENTITY_INSERT [dbo].[TheThuVien] ON 

INSERT [dbo].[TheThuVien] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [loaithe]) VALUES (1, N'Nguyễn Miên Anh', CAST(N'1996-10-10 00:00:00.000' AS DateTime), N'mienanh', N'Nam', 0)
INSERT [dbo].[TheThuVien] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [loaithe]) VALUES (2, N'Nguyễn Văn Dũng ', CAST(N'1996-10-10 00:00:00.000' AS DateTime), N'nguyendung', N'Nam', 0)
INSERT [dbo].[TheThuVien] ([id], [ten], [ngaysinh], [anhdaidien], [gioitinh], [loaithe]) VALUES (3, N'Lê Bao Đồng', CAST(N'1996-10-10 00:00:00.000' AS DateTime), N'baodong', N'Nam', 0)
SET IDENTITY_INSERT [dbo].[TheThuVien] OFF
ALTER TABLE [dbo].[MuonTra] ADD  DEFAULT (getdate()) FOR [ngaymuon]
GO
USE [master]
GO
